* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$theme-orange: rgb(252, 152, 70);
$theme-grey: rgb(82, 82, 82);

@font-face {
  font-family: "poppins-light";
  src: url("../fonts/Poppins/Poppins-Light.ttf");
}
@font-face {
  font-family: "poppins-regular";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: "poppins-med";
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: "poppins-bold";
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
}

header {
  width: 100%;
  height: calc(100vh + 10px);
  position: relative;
  overflow: hidden;
  background-color: rgba(3, 5, 43, 0.507);

  .background-video-header {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }
}

.content-landing-page {
  min-width: 300px;
  width: 60%;
  height: 100%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;

  .pre-sub-title,
  .post-sub-title {
    text-transform: capitalize;
    margin: 0;
    padding: 20px;
  }
  .heading {
    font-family: "poppins-bold", Arial, Helvetica, sans-serif;
    margin: 0;
  }
}

.phone-btn:hover .fa-phone-alt {
  transition: all 0.6s ease;
  transform: rotate(-360deg);
}

.marked {
  background-color: $theme-orange;
  color: black;
}
.marked-alt {
  background-color: #000;
  color: $theme-orange;
}
.join-btn {
  width: fit-content;
  padding: 15px 40px;
  background: $theme-orange;
  color: #000;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "poppins-med";
}
.join-btn:hover {
  color: $theme-grey;
}

.clients {
  background-color: rgba(216, 215, 215, 0.829);
  .btn {
    background-color: rgb(206, 206, 206);
    margin-right: 40px;
    font-family: "poppins-med";
    font-size: 14px;
  }
  .img-container {
    padding: 0 20px;
    img {
      width: auto;
      height: auto;
      max-height: 80px;
    }
  }
}

.quotation {
  font-family: "poppins-regular";
  font-size: 25px;

  div {
    width: 61%;
  }
}

.why-join {
  background: rgba(0, 0, 0, 0.616)
    url("https://images.unsplash.com/photo-1517971129774-8a2b38fa128e?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDMxfHRvd0paRnNrcEdnfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60");
  background-size: cover;
  background-blend-mode: multiply;
  font-family: "poppins-med";
  .content-container {
    width: fit-content;
    margin: auto;
  }
  .title {
    color: #fff;
    padding: 70px 0;
  }

  .cards-rect {
    width: 55%;
    height: 130px;
    background: #fff;
    border-radius: 5px;
    margin: 14px auto;
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    i {
      margin-left: 10px;
      background: $theme-orange;
      border-radius: 50%;
      font-size: 28px;
    }
    .cards-rect-body {
      width: 90%;

      p {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
      }
      .cards-rect-title {
        //   font-family: "poppins-med";
        font-weight: bold;
        text-transform: capitalize;
      }
      .cards-rect-para {
        //   font-family: "poppins-light";
        font-weight: normal;
      }
    }
  }
}

.flex-section {
  padding: 60px 20px;
  .row {
    width: 75%;
  }
  .title {
    text-transform: capitalize;
    font-family: "poppins-bold";
  }
  .para {
    font-size: 16px;
  }
  .img-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 350px;
    }
  }
}

.consultant {
  padding: 40px;
  background: rgba(0, 0, 0, 0.616)
    url("https://images.unsplash.com/photo-1517971129774-8a2b38fa128e?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDMxfHRvd0paRnNrcEdnfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60");
  background-size: cover;
  background-blend-mode: multiply;

  .inner-div {
    width: 55%;
    padding: 20px 80px;
    min-height: 500px;
    background: white;
    margin: auto;

    .cards-rect {
      width: 100%;
      height: 130px;
      background: #fff;
      border-radius: 5px;
      margin: 14px auto;
      // padding: 15px 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      i {
        margin-left: 10px;
        background: $theme-orange;
        border-radius: 50%;
        font-size: 28px;
      }
      .cards-rect-body {
        width: 90%;

        p {
          margin: 0;
          font-family: Arial, Helvetica, sans-serif;
        }
        .cards-rect-title {
          //   font-family: "poppins-med";
          font-weight: bold;
          text-transform: capitalize;
        }
        .cards-rect-para {
          //   font-family: "poppins-light";
          font-weight: normal;
        }
      }
    }
  }
}

.scrubSec {
  background-color: #ffffff;
  padding: 100px 0;
}
.fillBox1 p {
  color: white;
}

.outerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fillLine1 {
  width: 10px;
  height: 500px;
  border: 1px solid #d9d9d9;
  position: relative;
  box-sizing: border-box;
}

.fillBox1 {
  width: px;
  height: 2px;
  background-color: $theme-orange;
}

.appear > p {
  width: 200px;
  opacity: 1;
  background-color: $theme-orange;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 1);
}

.appear > p:nth-child(1) {
  position: absolute;
  top: 25px;
  left: 150px;
}

.appear > p:nth-child(3) {
  position: absolute;
  bottom: -65px;
  left: 150px;
}

.appear > img {
  width: 100px;
  position: absolute;
  top: 50%;
  left: 200px;
}

.appear2 > img:nth-child(2) {
  width: 100px;
  position: absolute;
  top: 25px;
  right: 220px;
}

.appear2 > img:nth-child(3) {
  width: 100px;
  position: absolute;
  bottom: -50px;
  right: 220px;
}

.appear2 > p:nth-child(1) {
  width: 200px;
  position: absolute;
  top: 42%;
  opacity: 1;
  background-color: $theme-orange;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 1);
}

.c1,
.c2,
.c3 {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d9d9d9;
  position: absolute;
}

.c1 {
  top: -50px;
  left: -45px;
}

.c1 > p {
  font-weight: bold;
  margin-bottom: 0;
}

.c2 > p {
  font-weight: bold;
  margin-bottom: 0;
}

.c3 > p {
  font-weight: bold;
  margin-bottom: 0;
}

.c2 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.c3 {
  bottom: -50px;
  left: -45px;
}

.reviews {
  padding: 60px 0;
}

.video-testimony {
  padding: 50px 0;

  iframe {
    margin-bottom: 20px;
    height: 260px;
  }
}
